:root {
    --sidebar-width: 280px;
    --bg-content: #f5f5f5;
    --text: #222;
    --text-muted: #555;

}

body.dark {
    --bg-content: #121212;
    --text: #eee;
    --text-muted: #bbb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-content);
    color: var(--text);
}

.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: var(--sidebar-width);
    background: linear-gradient(180deg, #6a00ff, #c20000);
    padding: 25px 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 80px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 30px solid #ffffff;
    overflow: hidden;
    margin-bottom: 15px;
    transition: width 0.3s ease, height 0.3s ease;
}

.sidebar.collapsed .profile-pic {
    width: 50px;
    height: 50px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar.collapsed .name {display: none;}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.2s;
}

.nav-links a:hover{
    background: rgba((255), 255, 255, 0.15);
}

.toggle-btns button {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    transition: background 0.3s;
}

.section {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}

body.dark .section {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: none;
}

@media (max-width: 900px) {
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translate(0);
    }
    .content{
        padding: 20px;
    }
}